:root {
  --accent-color: #2196f3;
  --back-color: #ffffff;
  --text-color: #212121;
  --black-black: #000000;
  --gray-type: #757575;
  --hero-footer: #2f303a;
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --contact-footer: rgba(255, 255, 255, 0.6);
  --card-set-gap: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

ul,
li,
a {
  list-style: none;
  list-style-type: none;
  text-decoration: none;
}
body {
  font-family: var(--main-font)
  color: var(--gray-type);
  font-size: 14px;
  font-style: normal;
}

.img {
  display: inline-block
}
li {
  outline: 1px solid tomato;
}

/* ======= COMPONENTS ======== */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* ==== navigation ==== */
.header-section {
  align-items: center;
  display: flex;
  padding-top: 0px;
  padding-bottom: 0px;
  justify-content: space-between;
}

.header {
  border-bottom: 1px solid #ececec;
}
.site-nav {
  display: flex;
  align-items: center;
}

/*=====================Header==================*/
.header {
  width: 1600px;
  background-color: var(--back-color);
}
.logo {
  margin-right: 93px;
  font-family: var(--secondary-font);
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--black-black);
  cursor: pointer;
}
.menu-item-link {
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.menu-item-link:hover,
.menu-item-link:focus {
  color: var(--accent-color);
}
.menu-item-link.current,
.logo-blue {
  color: var(--accent-color);
}

.cont-link {
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--gray-type);
}
.cont-link:hover,
.cont-link:focus,
.cont-link-map {
  color: var(--accent-color);
}

/*=====================HERO=======================*/

.hero {
  background: var(--hero-footer);
  color: var(--back-color);
  text-align: center;
  padding-right: auto;
  padding-left: auto;
  padding-top: 200px;
  padding-bottom: 200px;
}
.container-hero {
  width: 696px;
  margin-bottom: 30px;
}
.hero-button {
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--back-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.hero-button-go {
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--back-color);
}

/*=====================ABOUT======================*/

.about-paragraph {
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color);
}
.about-description {
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--gray-type);
}

/*===================== What we do ==============*/
.whatwedo {
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/*=====================Team=====================*/

.team-list {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.team-list-name {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.team-list-position {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--gray-type);
}

/*=====================Footer=====================*/
.footer {
  background-color: var(--hero-footer);
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo-footer {
  display: block;
  margin-bottom: 20px;
  color: var(--back-color);
}
.addres {
  font-style: normal;
  font-size: 24px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--back-color);
}
.cont-link.map {
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--contact-footer);
}
.cont-link.map:hover,
.cont-link.map:focus {
  color: var(--accent-color);
}
/*========END FOOTER ==========*/
/*========PORTFOLIO===========*/
.gallery-portfolio {
  color: var(--back-color);
}
/*========PORTFOLIO HERO======*/
.nav-button {
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.nav-button:hover,
.nav-button:focus,
.nav-button.current {
  background-color: var(--accent-color);
  color: var(--back-color);
  cursor: pointer;
}

/*===========GALLERY=====*/
.portfolio-hidden {
  color: var(--back-color);
}
.project-name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-color);
}
.project-type {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: var(--gray-type);
}
