:root {
  --accent-color: #2196f3;
  --back-color: #ffffff;
  --border-line: #ececec
  --text-color: #212121;
  --black-black: #000000;
  --gray-type: #757575;
  --hero-footer: #2f303a;
  --widgets-link-background-color: #f5f4fa;
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --contact-footer: rgba(255, 255, 255, 0.6);
  --paragraph-font-size: 16px;
  --paragraph-menu-font-size: 14px;
  --card-set-gap: 30px;
  --shadow-one: rgba(0, 0, 0, 0.12);
  --shadow-two: rgba(0, 0, 0, 0.14);
  --shadow-three: rgba(0, 0, 0, 0.2);
  --shadow-hero-button: rgba(0, 0, 0, 0.15);
  --margin: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
  /* color: inherit; */
}

ul,
li,
a {
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
body {
  font-family: var(--main-font);
}

img {
  display: block;
  max-width: 100%;
}
li {
  outline: 1px solid tomato;
}

/* ======= COMPONENTS ======== */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* ==== navigation ==== */
.header-container {
  align-items: center;
  display: flex;
  padding-top: 0px;
  padding-bottom: 0px;
}

.header {
  border-bottom: 1px solid #ececec;
}
.hader-nav {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  align-items: center;
}
.menu-item {
margin-right: 50px;
}
.menu-item:last-child { 
  margin-right: 0;
}
.menu-item-link {
  display: flex;
  align-items: center;
  align-content: center;
}

.cont {
margin-left: auto;
}

/*=====================Header==================*/
/*
.header {
  width: 1600px;
  background-color: var(--back-color);
}
*/
.logo {
  margin-right: 93px;
  font-family: var(--secondary-font);
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--black-black);
  cursor: pointer;
}
.menu-item-link {
  display: block;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--text-color);
  margin-right: auto;
}

.menu-item-link:hover,
.menu-item-link:focus {
  color: var(--accent-color);
}
.menu-item-link.current,
.logo-blue {
  color: var(--accent-color);
}

.cont-link {
  text-align: left;
  color: var(--gray-type);
}
.cont-link:hover,
.cont-link:focus,
.cont-link-map {
  color: var(--accent-color);
}
/*=====================HERO=======================*/

.hero {
  background: var(--hero-footer);
  color: var(--back-color);
  text-align: center;
  padding-right: auto;
  padding-left: auto;
  padding-top: 200px;
  padding-bottom: 200px;
}
.container-hero {
  width: 696px;
  margin-bottom: 30px;
}
.hero-face {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: var(--back-color);
}
.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--back-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px var(--shadow-hero-button);
  border-radius: 4px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
}
.hero-button-go {
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--back-color);
}
/* =====================END HERO====================
/*=====================ABOUT======================*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.about-list {
  display: flex;
  flex-wrap: nowrap;
  margin-top: calc(-1 * var(--margin));
  margin-left: calc(-1 * var(--margin));
}

 /*  line-height: 1.1;
  letter-spacing: 0.03em; 
  text-transform: uppercase;
  color: var(--text-color); */
  
}
/* ============== ЕСЛИ УБРАТЬ СКОБКУ ПЛЫВЁТ whatwedoo============= */



.about-item {
  /* width: 270px; */
  flex-basis: calc((100% - 4 * var(--margin)) / 4);
  margin-top: var(--margin);
  margin-left: var(--margin);
}
/* .abiut-item:first-child {
margin: 0;
} */
.about{
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.about-description {
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--gray-type);
}

/*===================== What we do ==============*/
.section-what-we-do{
  padding-top: 0;
}

.whatwedo
.team-list {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.whatwedo {
  font-family: var(--font-family);
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
}
.container-whatwedo {
    width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 94px;
    margin-bottom: 94px;
}

.whatwedoo-list{
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--margin));
  margin-left: calc(-1 * var(--margin))
}
.whatwedoo-img {
  
  flex-basis: calc((100% - 3 * var(--margin)) / 3);
  margin-top: var(--margin);
  margin-left: var(--margin);
}
/*=====================Team=====================*/

/* .team-list {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
 */
 .section-team {
  background-color: var(--widgets-link-background-color);
 }
.team-list-name
.team-list-position {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.team-list-position {
  font-weight: 400;
  letter-spacing: 0.03em;
  margin-bottom: 0;
  color: var(--gray-type);
}
.team-list{
  margin-bottom: 50px;
}
.team-list-item {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--margin));
  margin-left: calc(-1 * var(--margin)); 
}
.team-list-wrapper {
  flex-basis: calc(100% / 4 - 30px);
  margin-top: var(--margin);
  margin-left: var(--margin);
  background: var(--back-color);
  
  box-shadow: 0px 1px 3px var(--shadow-one), 0px 1px 1px var(--shadow-two),
  0px 2px 1px var(--shadow-three);
  border-radius: 0px 0px 4px 4px;
}
.team-list-wrapper{
  text-align: center;
}
/*=====================Footer=====================*/
.footer {
  background-color: var(--hero-footer);
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo-footer {
  display: block;
  margin-bottom: 20px;
  color: var(--back-color);
}
.addres {
  font-style: inherit;
  font-size: 24px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--back-color);
}
.cont-link:not(:last-child) {
  margin-bottom: 9px;
}
.cont-link.map {
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--contact-footer);
}
.cont-link.map:hover,
.cont-link.map:focus {
  color: var(--accent-color);
}
/*========END FOOTER ==========*/
/*========PORTFOLIO===========*/
.gallery-portfolio {
  color: var(--back-color);
}


/*========PORTFOLIO HERO======*/
.nav-button {
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.nav-button:hover,
.nav-button:focus,
.nav-button.current {
  background-color: var(--accent-color);
  color: var(--back-color);
  cursor: pointer;
}

/*===========GALLERY=====*/
.portfolio-hidden {
  color: var(--back-color);
}
.project-name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-color);
}
.project-type {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: var(--gray-type);
}
